<ion-header>

  <ion-toolbar [class]="toolbar">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="margin: 0;" class="features-title" style="margin-top: 20px;">Our Heros</ion-title>
    <ion-buttons slot="end">
      <img class="notification-img" src="../../../assets/images/notification.svg">
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true"  #contents>
  <div slot="fixed"
    style="margin: 0; overflow: hidden !important; width: 100%; background:url(../../../assets/images/GlobalBG2.svg) top/cover;">
    <div class="drawer"></div>
  </div>
  <ion-grid class="home-gallery" style="padding-bottom: 70px;">
    <ion-row>
      <ion-col size="6" *ngFor="let item of featuresData | async">
        <ion-card class="products_list" style="border-radius: 20px; --background: white;" (click)="featureNav(item)">

          <img [src]="item.imageurl" style="height: 50%;" />
          <p class="ion-text-center" style=" width: 100%;   margin:0 0 10px; color: #848484;  z-index: 2;">
            {{item.imagename}}</p>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>