
<ion-content style="--background: url('../../../assets/images/Group 3.svg') top/cover; text-align: center;">

  <div style="position: absolute;top: 30%;left: 0; right: 0;">
    <h2 class="splash-h2" style="font-weight: 600; margin-bottom: 0;font-family: Roboto-Regular;
    color:#F86867;">LET'S START</h2>
    <h2 class="splash-h1" style="font-weight: 800; margin-top: 0px;font-family: Roboto-Regular;
    color:#F86867;">YOUR JOURNEY</h2>
    </div>
  <p style="color: #969696;margin-top: 80%;">Already have an account? <span [routerLink]="['/login']"style="color: #F86867;">Log in</span> </p>
  <div style="display: flex;margin: 10% auto;align-items: center;
  flex-direction: column;justify-content: space-between;">
  <ion-button shape="round" class="splash-h3" fill="solid"  [routerLink]="['/register']" style="--background: #F86867;--color: white;">
     SIGN UP</ion-button>
    
   
  </div>
  <p  style="width: 80%;margin:10px auto; color: #969696; font-size: 12px;">By signing up, you agree to YouMatter’s 
    <span style="color: #969696;text-decoration: underline;">Terms & Conditions</span> and <span style="color: #969696;text-decoration: underline;">Privacy Policy</span> </p>
    <p style="width: 80%;margin:0 auto 10%; color: #DADADA;font-size: 12px;">Your Information is Safe and Secure with us </p>
  </ion-content>
  