ion-header {
    background: url(../../../assets/images/featuresBG1.png) no-repeat top/cover;
    height: 100%;
    z-index: 0;
  }
  
  ion-toolbar {
    --background: transparent;
    margin: 18px 0px;
    transition: margin 200ms ease-in-out;
  }
  
  ion-content {
    --background: url(../../../assets/images/featuresBG2.svg) no-repeat top/cover !important;
    position: absolute;
    top: 15%;
    height: 92%;
    transition: top 250ms ease-in-out;
    
    border-radius: 20px;
  }
  
  .shrink {
    margin: 0;
    transition: margin 200ms ease-in-out;
  }
  
  .contentShrink {
    transform: translateY(-7%);
    transition: transform 250ms ease-in-out;
  }
  
  .dates {
    display: flex;
    flex-direction: row;
    margin: 100px auto 20px;
    color: white;
    width: 80%;
    justify-content: space-between;
  }
  
  .drawer {
    width: 80px;
    height: 2px;
    margin: 10px auto; 
    background: black;
  }