ion-header {
    background: url(../../../../assets/images/GlobalBG1.svg) no-repeat top/cover ;
    height: 100%;
    z-index: 0;
  }
  
  ion-toolbar {
    --background: transparent;
    margin: 18px 0px;  
    transition: margin 200ms ease;
  }
  
  ion-content {
    --background: url(../../../../assets/images/GlobalBG2.svg) no-repeat top/cover !important;
    position: absolute;
    top: 15%;
    height: 92%;
    transition: top 250ms ease-in-out;
    --padding-bottom: 70px; 
    border-radius: 20px;
  }
  
  .shrink {
    margin: 0;
    transition: margin 250ms ease-in-out;
  }
  
  .contentShrink {
    transform: translateY(-7%);
    transition: transform 250ms ease-in-out;
  }
  