ion-icon{
    color: black;
    font-size: 25px;
}

ion-header {
    background:  url(../../../assets/images/GlobalBG1.svg) no-repeat top/cover ;
    height: 100%;
    z-index: 0;
  }
  
  ion-toolbar {
    --background: transparent;
    margin: 18px 0px;  
    transition: margin 200ms ease;
  }
  
  ion-content {
    --background: url(../../../assets/images/GlobalBG2.svg) no-repeat top/cover !important;
    position: absolute;
    top: 15%;
    height: 92%;
    transition: top 250ms ease-in-out;
    --padding-bottom: 70px; 
    border-radius: 20px;
  }

  .imgConatiner{
      display: flex;
      flex-direction: row;
  }
  ion-card{
      margin: 10px 0px 0;
border-radius: 10px;
background: white;
padding: 10px;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .emotionCnt{
      display: flex;
      justify-content: space-around;
  }
  .emotion{
     
      padding: 10px;
      color:white;
      border-radius: 15px;
  }
  ion-list{
      height: 100%;
      padding: 10px;
      background-color: transparent !important;
  }